# For education purpose
# In real life, DONT PUT YOUR ENV IN PUBLIC
SERVER_PORT=3000
REDIS_URL='redis://default:wE3xtIjVXWx1SGkADJ8T3BSVsRAQln3e@redis-15869.c14.us-east-1-2.ec2.redns.redis-cloud.com:15869'
AXIOS_URL='https://jsonplaceholder.typicode.com'
AXIOS_TIMEOUT=5000
APP_DOCS='enabled'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='postgres://default:AoarMLF4QG8x@ep-flat-art-89761230-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15'